body{
    margin:0;
}
footer{
    color: white;
    background-color: #403A3A;
}
#Contact{
    display: flex;
    justify-content: end;
    background: linear-gradient(to bottom, #4f3c3d, #B32428);
    height: 50px
}
#Contact a{
    padding: 5px;
    padding-top: 10px;
}

#Contact a img{
    width: 30px;
    border-radius: 50%;
    filter: grayscale(100%)
}
#anomaly{
    width:10px
}

#Contact a img:hover{
    filter: grayscale(0%)
}

#upcoming{
    padding:0px;
    margin:0px;
    padding-top:10px;
    height: 80px;
    background-color: #403A3A;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}
#upcoming div{
    padding-right: 30px
}
#upcoming p{   
    padding: 0px;
    margin: 0px; 
    word-spacing: 30px;
}
#event h1{
    margin:0px
}
#event p{
    word-spacing:0px;
}
#timer{
    display: flex;
    justify-content: center;

    letter-spacing:10px
}

nav{
    background-color: lightgray;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #102C54;
    list-style: none;
    padding: 10px 0;
    max-width: 140px;
    left: 0%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.dropdown-menu::before{
    content:"";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #102C54 transparent;
}
.dropdown-menu li{
    padding: 8px 15px;
}
.dropdown-menu a{
    display: block;
    color: white;
    white-space: nowrap;
}
.dropdown-menu a:hover{
    color: #F3A505
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.dropdown{
    position: relative
}

#top{
    display: flex;
    margin-bottom: 20px;    
    padding: 0 20px;
    background-color: lightgray;
}
#top h1{
    margin: 20px;
}
#selectCat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 5rem;
}
#selectCat button{
    border-radius:12px;
    gap: 20px;
    height: 30px;
    background-color: #e20e15;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    white-space: nowrap;
}
#tablesContainer{
    padding-left: 20px;
}

#titleA{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#titleA img{
    width:100px;
}
#titleA p{
    color:  #332F2C;
    font-size: 40px;
    padding-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#strip{
    text-align: center;
    background-color:#FDED95;
    padding-top:15px;
    padding-bottom:15px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 3px solid lightgray;
}
form{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
form label{
    padding-left:30px;
}
#row{
    display:flex;
    gap:30px;
}
#group{
    display:flex;
    flex-direction: column;
    flex: 1;
    padding-top:10px;
}
#group label{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
}
#group input{
    box-sizing: border-box;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#group select{
    box-sizing: border-box;
    padding:10px;
    margin-left: 20px;
    margin-right: 20px;
}
#submitContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#submit{
    all:unset;
    cursor: pointer;
    padding: 10px 30px;
    border:3px solid lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#submit:hover{
    background-color:#FDED95;
}


#profileDisplay{
    display:none;
}
#editBtn{
    cursor:pointer;
    grid-column: 1/-1;
    justify-self:center;
}
#editBtn:hover{
    background-color: #354D73;
}
#save{
    cursor: pointer;
}
#save:hover{
    background-color: #354D73;
}
#fullName{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
#checkboxGroup label{
    display: inline-flex;
    align-items:center;
    cursor:pointer;
}
#previewPic{
    width:200px;
}
#dispPic{
    width:200px;
}
#profileDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#left{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#profileImg{
    width:50px;
    height:50px;
}
#tablesContainer{
    display: flex;
    flex-wrap:wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#together{
    margin: 30px;
}
#tablesContainer table{
    border-collapse: collapse;
    border:black solid 5px;
    margin-bottom: 20px;

}
#tablesContainer table thead{
    color: #FFFFFF;
    background-color:  #23282B;
    font-weight:1000;
    border-bottom: black solid 6px;
    text-align: left;
}
#tablesContainer table td, th{
    padding-left:25px;
    padding-right:25px;
}